@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&subset=thai');

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background: #E6E6E6;
}

.shadow {
    box-shadow: 0 3px 6px rgba(40, 40, 40, 0.16), 0 3px 6px rgba(40, 40, 40, 0.23);
}

.topNav {
    overflow: hidden;
    background-color: #3C3C3C;
    height: 100px;
    font-family: 'Kanit', sans-serif;
    position: fixed;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100%;
}

.topNav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topNav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.topNav .homeButton {
    float: left;
    width: 15%;
}

.topNav .search-container {
    float: right;
    margin-right: 2%;
}

.topNav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #E6E6E6;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topNav .search-container button:hover {
    background: #ccc;
}

.topButton {
    padding-top: 2%;

}

.topButton button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #EE801E;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #F7F9F9;
}