@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&subset=thai');

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background: #E6E6E6;
    color: #707070;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.topNav {
    overflow: hidden;
    background-color: #3C3C3C;
    height: 100px;
    font-family: 'Kanit', sans-serif;
    position: fixed;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100%;
}

.topNav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topNav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.topNav .homeButton {
    float: left;
    width: 15%;
}



.topButton {
    padding-top: 2%;

}

.topButton button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #EE801E;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #F7F9F9;
}

.topNav .search-container {
    float: left;
    box-sizing: border-box;
    margin-left: 3%;
    width: 30%;
}

.topNav .search-container button {
    float: left;
    padding: 6px 10px;
    margin: 0;
    margin-top: 8px;
    margin-left: -20px;
    background: #E6E6E6;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topNav .search-container button:hover {
    background: #ccc;
}

.topNav .search-container #searchText {
    float: left;
    width: 40%;
    padding: 6px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.topNav .search-container #searchText:focus {
    width: 75%;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: #EE801E;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip-icon {
    padding: 6px 10px;
    margin-top: 8px;
    float: left;
    font-size: 17px;
}

.profile-btn {
    margin-top: -1%;
    float: right;
    color: #F1EDEA;
}

.profile-btn a{
    font-size: 14px;
    color: #EE801E;
}


